<!DOCTYPE html>
<html>
<head>
    <title>Greeting Server</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-left: 15px;
        }
    </style>
</head>
<body>
<!-- TODO: add method and action to the form. When the form is submitted, it should be processed by doPost method in GreetingServlet . -->
<form method=" " action="">
    Enter name: <input type= ><br> <!-- TODO: edit; should show a textfield where the user can enter a name. -->
    <p><input type= ></p> <!-- TODO: edit; this should be a button -->
</form>
</body>
</html>


